body {
    background-color: rgb(58, 59, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
    color: rgb(3, 85, 70);
}

div {
    background-color: rgb(220, 210, 252);
}

p1 {
    color: rgb(219, 218, 224);
}

h1 {
    color: rgb(219, 218, 224);

}